{% extends "base.html" %}
{%block title%}Login{%endblock%}
{% block maincontent %}
<div class="col-sm-4 col-lg-8 col-md-8 col-xl-12">
   <h3 class="title">Login</h3>
<div class="box">
 {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="text-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

        <form method="POST" action="/login">
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input class="form-control form-control-sm" id="email" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input class="form-control form-control-sm" id="pwd" type="password" name="password" placeholder="Your Password">
                </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}